.header__sign {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    color: #A9A9A9;
    background: none;
    padding: 0;
    border: none;
    text-decoration: none;
}

.header__sign:hover {
    opacity: .8;
    cursor: pointer;
}