.sign__input{
    border: none;
    border-bottom: 2px solid #CCCCCC;
    outline: none;
    width: 100%;
    padding: 13px 0 13px 0;
    box-sizing: border-box;
    color: white;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    background: none;
}

.sign__input::placeholder {
    color: #CCCCCC;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}